<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"     
      lang="en">
  <head>
    <title>Dashboard</title>
    <meta charset="utf-8">
  </head>
  <body class="app sidebar-mini rtl">
    <div layout:fragment="content1">
        <main class="app-content">
        <div class="app-title">
            <div>
              <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
            </div>
            <ul class="app-breadcrumb breadcrumb">
              <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
              <li class="breadcrumb-item"><a style="color: green">Dashboard</a></li>
            </ul>
        </div>
       <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h5>Utilisateur Mobile</h5>
              <p><b th:text="${totalusers}"></b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small info coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
              <h5>Signalement</h5>
              <p><b th:text="${totalsignal}"></b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small warning coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
              <h5>Region le plus efficace</h5>
              <p><b th:text="${regionlow}+': '+${down}+' affectations'"></b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-star fa-3x"></i>
            <div class="info">
              <h5>Region le moins efficace</h5>
              <p><b th:text="${regionup}+': '+${up}+' affectations'"></b></p>
            </div>
          </div>
        </div>
      </div>
            <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Stat signalement annuel</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Nombre de signalements par type</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
            </div>
          </div>
        </div>
      </div>
            <script th:src="@{/js/loadchart.js}"></script>
            <script th:src="@{/js/Chart.bundle.min.js}"></script>
            <script type="text/javascript">
    
    </script>
      </main>
        
    </div>
    
  </body>
</html>