<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"     
      lang="en">
  <head>
    <title>Ressources Management</title>
    <meta charset="utf-8">§
  </head>
  <body class="app sidebar-mini rtl">
    <div layout:fragment="content1">
      <main class="app-content">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="tile">
              <div class="row ">
                <div class="col">
                  <p><h3 class="tile-title" style="font-family: Snell Roundhand, cursive;color: green;">Listes des Signalements </h3></p>
                   
                          <!-- <p style="font-size: 16px;" th:if="${auteur != 'vide'}">Effectués par<h4 th:if="${auteur != 'vide'}" style="font-family: Comic Sans MS;color :green;" th:text="${auteur}"></h4></p> -->
                          <th:block th:if="${auteur != 'vide'}" >
                              <p style="font-size: 16px;" th:if="${auteur != 'vide'}">Effectués par<h4 th:if="${auteur != 'vide'}" style="font-family: Comic Sans MS;color :green;" th:text="${auteur}"></h4></p> 
                          </th:block>
                </div>
              </div>
              <div class="row ">
                <div class="col">
                  <th:block th:if="${auteur == 'vide'}" >
                    <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                      <th:block th:if="${page != 0 }">
                        <li class="page-item">
                          <a class="page-link" th:href="@{/manageResource/signalementRsrc/{pagination}(pagination=${page-1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                      </th:block>
                      <th:block th:each="i:${#numbers.sequence(0,nbrPage-1)}">
                        <li th:if="${i == page}"  class="page-item active"><span class="page-link" th:text="${i+1}">
                          <span class="sr-only">(current)</span>
                        </span>
                        </li>
                        <li th:unless="${i == page}"  class="page-item"><a class="page-link" th:href="@{/manageResource/signalementRsrc/{pagination}(pagination=${i})}" th:text="${i+1}"></a></li>
                      </th:block>  
                      <th:block th:if="${ page<(nbrPage-1) }">                         
                        <li class="page-item">
                          <a class="page-link" th:href="@{/manageResource/signalementRsrc/{pagination}(pagination=${page+1})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </th:block> 
                    </ul>
                  </nav>
                  </th:block>
                  <th:block th:unless="${auteur == 'vide'}" >
                    <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                      <th:block th:if="${page != 0 }">
                        <li class="page-item">
                          <a class="page-link" th:href="@{/manageResource/signalementUserRsr/{id}/{pagination}(id=${user},pagination=${page-1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                      </th:block>
                      <th:block th:if="${nbrPage != 0 }" th:each="i:${#numbers.sequence(0,nbrPage-1)}">
                        <li th:if="${i == page}"  class="page-item active"><span class="page-link" th:text="${i+1}">
                          <span class="sr-only">(current)</span>
                        </span>
                        </li>
                        <li th:unless="${i == page}"  class="page-item"><a class="page-link" th:href="@{/manageResource/signalementUserRsr/{id}/{pagination}(id=${user},pagination=${i})}" th:text="${i+1}"></a></li>
                      </th:block>  
                      <th:block th:if="${ page<(nbrPage-1) }">                         
                        <li class="page-item">
                          <a class="page-link" th:href="@{/manageResource/signalementUserRsr/{id}/{pagination}(id=${user},pagination=${page+1})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </th:block> 
                    </ul>
                  </nav>
                  </th:block>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <table class="table table-hover table-responsive">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Region</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody class="clickb">
                    <tr th:each="s:${signalement}">
                      <td th:text="${s.getId}"></td>
                      <td th:text="${s.getSignalnew() != null}? ${s.getSignalnew().getTitre()} : 'Aucun'"></td>
                      <td th:text="${s.getDaty}"></td>
                      <td th:text="${s.getType().getNom()}"></td>
                      <td th:text="${s.getRegion != null}? ${s.getRegion.getNom}: 'Aucun' "></td>
                      <th:block th:if="${auteur == 'vide'}" >
                        <td>
                         
                            <a  role="button" name="id" th:href="@{/manageResource/viewSIGN/{id}/{page}(id=${s.getId},page=${page})}"
                          class="btn btn-outline-primary">Voir detail</a>
                            
                        </td>
                      </th:block> 
                      <th:block th:unless="${auteur == 'vide'}" >
                        <td>
                          <a  role="button" name="id" th:href="@{/manageResource/viewSignUser/{id}/{user}/{page}(id=${s.getId},user=${user},page=${page})}"
                          class="btn btn-outline-primary">Voir detail</a>  
                        </td>
                      </th:block>
                      <td>
                        <a role="button" name="id" href="#"
                        class="btn btn-outline-danger">Bloquer</a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </main>
      <script th:src="@{/js/plugins/sweetalert.min.js}"></script>
      <script type="text/javascript">
        function confDelete(event){
          return false;
        }
    </script>
    </div>
    
  </body>
</html>