<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="template" lang="en">

<head>
  <title>Ressources Management</title>
  <meta charset="utf-8">
</head>

<body class="app sidebar-mini rtl">
  <div layout:fragment="content1">
    <main class="app-content">
      <div class="row justify-content-around">
        <div class="col-md-12">
          <div class="tile">
            <div class="row justify-content-center">
                <div class="col-7">
                  <h2 class="tile-title" style="font-family: Snell Roundhand, cursive;color: green;">Listes des Utilisateurs Mobiles</h2>
                </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-md-10">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                      <th:block th:if="${page != 0 }">
                        <li class="page-item">
                          <a class="page-link" th:href="@{/manageResource/userMobileRsrc/{pagination}(pagination=${page-1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                      </th:block>
                      <th:block th:if="${nbrPage != 0 }" th:each="i:${#numbers.sequence(0,nbrPage-1)}">
                        <li th:if="${i == page}"  class="page-item active"><span class="page-link" th:text="${i+1}">
                          <span class="sr-only">(current)</span>
                        </span>
                        </li>
                        <li th:unless="${i == page}"  class="page-item"><a class="page-link" th:href="@{/manageResource/userMobileRsrc/{pagination}(pagination=${i})}" th:text="${i+1}"></a></li>
                      </th:block>  
                      <th:block th:if="${ page<(nbrPage-1) }">                         
                        <li class="page-item">
                          <a class="page-link" th:href="@{/manageResource/userMobileRsrc/{pagination}(pagination=${page+1})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </th:block> 
                    </ul>
                </nav>
              </div> 
            </div> 
            <div class="row">
              <div class="col-md-10">
                <table class="table table-hover table-responsive">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Email</th>

                      <th>Nombre de Signalement effectués</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="clickb">
                    <tr th:each="user:${mobileList}">
                      <td th:text="${user.Id}"></td>
                      <td th:text="${user.getUsername}"></td>
                      <td style="text-align: end;" th:text="${user.getSignalementList().size()}"></td>
                      <td>
                        <form th:action="@{/manageResource/signalementUserRsr/{id}/{page}(id=${user.getId},page=0)}" method="get" >
                          <button name="status" class="btn btn-succcess" value="0" type="submit" >Signalement effectués</button> 
                        </form>
                      </td>
                      
                      <td>
                        <a role="button" name="id" href="#"
                        class="btn btn-outline-danger">Bloquer</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-2">
                <a role="button" name="id" href="/manageResource/formulaireMB"
                  class="btn btn-outline-success">Ajouter</a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </main>
    <script th:src="@{/js/plugins/sweetalert.min.js}"></script>
    <script type="text/javascript">
      function confDelete1(event) {
        var ret=0;
        swal({
      		title: "Are you sure?",
      		text: "Voulez-vous vraiment supprimer cet utilisateur??",
      		type: "warning",
      		showCancelButton: true,
      		confirmButtonText: "Confirmer",
      		cancelButtonText: "Annuler",
      		closeOnConfirm: false,
      		closeOnCancel: false
      	},function(isConfirm,ret) {
      		if (isConfirm) {
            alert(ret);
      			ret= 34;
      		} else {
      			swal("Cancelled", "Operation annulé", "error");
            ret= 56;
      		}
      	});
       
        event.preventDefault();
       
      }

      function confDelete(form){
          // alert(form.getValue("status"));
        // var temp=false;
        swal({
           title: "Are you sure?",
           text: "Voulez-vous vraiment supprimer cet utilisateur??",
           type: "warning",
           showCancelButton: true,
           confirmButtonText: "Confirmer",
           cancelButtonText: "Annuler",
           closeOnConfirm: true,
           closeOnCancel: true
         },temp=function(isConfirm) {
           if (isConfirm) {
            form.submit();
           }
         });
        return false;
      }
    </script>
  </div>

</body>

</html>